<div id="header" class="hidden-phone">
	<div class="container">
		<div class="row">
			<div id="logo" class="pull-left">
				<f:cObject typoscriptObjectPath="lib.logo">
					logo here
				</f:cObject>
			</div>
			<div id="slideshow" class="pull-right">
				<f:cObject typoscriptObjectPath="lib.slideshow">
					Slideshow here
				</f:cObject>
			</div>
		</div>
	</div>
</div>
<div id="header-teaser-top" class="hidden-phone">
	<div class="container">
		<div class="row">
			<div id="teaser" class="pull-left">
				<f:cObject typoscriptObjectPath="lib.teaser">
					news teaser here
				</f:cObject>
			</div>
			<div id="nav-top" class="pull-right">
				<div class="navbar">
					<div class="navbar-inner">
						<f:cObject typoscriptObjectPath="lib.nav.top">
							Top navigation here
						</f:cObject>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
