<div id="content-header" class="hidden-phone">
	<div class="container">
		<div class="row">
			<div id="nav-header" class="pull-left">
				<div class="navbar">
					<div class="navbar-inner">
						<f:cObject typoscriptObjectPath="lib.nav.header">
							header navigation here
						</f:cObject>
					</div>
				</div>
			</div>
			<div id="nav-contact" class="pull-right hidden-tablet">
				<div class="navbar">
					<div class="navbar-inner">
						<f:cObject typoscriptObjectPath="lib.nav.contact">
							Contact navigation here
						</f:cObject>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
