<div id="content-phone" class="visible-phone">
	<div class="container">
		<div class="row">
			<f:cObject typoscriptObjectPath="lib.content.get">
				<h1>Features &amp; includes</h1>
				<p>Bootstrap comes complete with compiled CSS, uncompiled, and example templates.</p>
				<ul>
					<li>Custom jQuery plugins</li>
					<li>Complete styleguide documentation</li>
					<li>Three example pages with different layouts</li>
					<li>Dozens of components</li>
					<li>12-column grid system</li>
					<li>Built on LESS</li>
					<li>Dozens of fully functional components</li>
					<li>Components are scaled according to a range of resolutions and devices</li>
				</ul>
			</f:cObject>
		</div>
	</div>
</div>

<div id="nav-phone" class="visible-phone">
	<div class="container">
		<div class="row">
			<f:cObject typoscriptObjectPath="lib.phone.nav.main">
				<ul>
					<li>home</li>
					<li>portfolio</li>
					<li>Über uns</li>
					<li>Kundenstimmen</li>
				</ul>
			</f:cObject>
		</div>
	</div>
</div>

<div id="aside-phone" class="visible-phone">
	<div class="container">
		<div class="row">
			<f:cObject typoscriptObjectPath="lib.content.getBorder">
				<h2>Features &amp; includes</h2>
				<p>Bootstrap comes complete with compiled CSS, uncompiled, and example templates.</p>
				<ul>
					<li>Custom jQuery plugins</li>
					<li>Complete styleguide documentation</li>
					<li>Three example pages with different layouts</li>
					<li>Dozens of components</li>
					<li>12-column grid system</li>
					<li>Built on LESS</li>
					<li>Dozens of fully functional components</li>
					<li>Components are scaled according to a range of resolutions and devices</li>
				</ul>
			</f:cObject>
		</div>
	</div>
</div>