/* line 24, ../../scss/_mixins.scss */
.clearfix {
  *zoom: 1;
}
/* line 15, ../../scss/_mixins.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
/* line 19, ../../scss/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 119, ../../scss/_mixins.scss */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 300, ../../scss/_mixins.scss */
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../../scss/ya/_responsive-utilities.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 14, ../../scss/ya/_responsive-utilities.scss */
.visible-phone {
  display: none !important;
}

/* line 15, ../../scss/ya/_responsive-utilities.scss */
.visible-tablet {
  display: none !important;
}

/* line 17, ../../scss/ya/_responsive-utilities.scss */
.visible-desktop-large {
  display: none !important;
}

/* line 20, ../../scss/ya/_responsive-utilities.scss */
.hidden-tablet-portrait {
  display: none !important;
}

/* line 21, ../../scss/ya/_responsive-utilities.scss */
.hidden-desktop {
  display: none !important;
}

/* line 22, ../../scss/ya/_responsive-utilities.scss */
.hidden-desktop-small {
  display: none !important;
}

@media (max-width: 767px) {
  /* line 27, ../../scss/ya/_responsive-utilities.scss */
  .visible-phone {
    display: inherit !important;
  }

  /* line 29, ../../scss/ya/_responsive-utilities.scss */
  .hidden-phone {
    display: none !important;
  }

  /* line 31, ../../scss/ya/_responsive-utilities.scss */
  .hidden-desktop {
    display: inherit !important;
  }

  /* line 32, ../../scss/ya/_responsive-utilities.scss */
  .visible-desktop {
    display: none !important;
  }
}
@media (min-width: 1024px) {
  /* line 37, ../../scss/ya/_responsive-utilities.scss */
  .hidden-tablet-portrait {
    display: inherit !important;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 43, ../../scss/ya/_responsive-utilities.scss */
  .visible-tablet {
    display: inherit !important;
  }

  /* line 45, ../../scss/ya/_responsive-utilities.scss */
  .hidden-tablet {
    display: none !important;
  }

  /* line 47, ../../scss/ya/_responsive-utilities.scss */
  .hidden-desktop {
    display: inherit !important;
  }

  /* line 48, ../../scss/ya/_responsive-utilities.scss */
  .visible-desktop {
    display: none !important;
  }
}
@media (min-width: 1380px) {
  /* line 6, ../../scss/ya/_responsive-1380px-min.scss */
  #header #logo {
    margin-left: 15px;
  }
  /* line 10, ../../scss/ya/_responsive-1380px-min.scss */
  #header #slideshow {
    width: 850px;
  }

  /* line 16, ../../scss/ya/_responsive-1380px-min.scss */
  .thumbnails {
    margin-left: -30px;
  }

  /* line 20, ../../scss/ya/_responsive-1380px-min.scss */
  .thumbnails > li {
    margin-left: 30px;
  }

  /* line 24, ../../scss/ya/_responsive-1380px-min.scss */
  .row-fluid .thumbnails {
    margin-left: 0;
  }

  /* line 28, ../../scss/ya/_responsive-1380px-min.scss */
  .visible-desktop-large {
    display: inherit !important;
  }

  /* line 29, ../../scss/ya/_responsive-1380px-min.scss */
  .hidden-desktop-small {
    display: inherit !important;
  }

  /* line 35, ../../scss/ya/_responsive-1380px-min.scss */
  #footer .navbar .navbar-inner .container,
  #footer-phone .navbar .navbar-inner .container {
    width: 1280px;
  }

  /* line 43, ../../scss/ya/_responsive-1380px-min.scss */
  #content #navpath {
    width: 760px;
  }
  /* line 46, ../../scss/ya/_responsive-1380px-min.scss */
  #content .row {
    min-height: 680px;
  }
}
@media (max-width: 1379px) {
  /* line 6, ../../scss/ya/_responsive-1379px-max.scss */
  #header #logo {
    margin-left: 0;
  }
  /* line 10, ../../scss/ya/_responsive-1379px-max.scss */
  #header #slideshow {
    max-width: 75%;
    overflow: hidden;
    white-space: nowrap;
    width: 695px;
  }

  /* line 20, ../../scss/ya/_responsive-1379px-max.scss */
  #header-teaser-top #teaser,
  #header-teaser-top ul#listticker {
    max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
  }

  /* line 28, ../../scss/ya/_responsive-1379px-max.scss */
  .container {
    width: 945px;
  }

  /* line 36, ../../scss/ya/_responsive-1379px-max.scss */
  #footer .navbar .navbar-inner .container,
  #footer-phone .navbar .navbar-inner .container {
    width: 945px;
  }
  /* line 40, ../../scss/ya/_responsive-1379px-max.scss */
  #footer .navbar .navbar-inner .container .nav li.element-40,
  #footer-phone .navbar .navbar-inner .container .nav li.element-40 {
    margin-left: 135px;
  }

  /* line 50, ../../scss/ya/_responsive-1379px-max.scss */
  #content #navpath {
    width: 405px;
  }
  /* line 53, ../../scss/ya/_responsive-1379px-max.scss */
  #content .row {
    min-height: 480px;
  }
}
@media (max-width: 1023px) {
  /* line 6, ../../scss/ya/_responsive-1023px-max.scss */
  #header #slideshow {
    max-width: 370px;
    width: 370px;
  }

  /* line 14, ../../scss/ya/_responsive-1023px-max.scss */
  #header-teaser-top #teaser,
  #header-teaser-top ul#listticker {
    display: none !important;
  }

  /* line 19, ../../scss/ya/_responsive-1023px-max.scss */
  .container {
    width: 620px;
  }

  /* line 27, ../../scss/ya/_responsive-1023px-max.scss */
  #footer .navbar .navbar-inner .container,
  #footer-phone .navbar .navbar-inner .container {
    width: 620px;
  }
  /* line 30, ../../scss/ya/_responsive-1023px-max.scss */
  #footer .navbar .navbar-inner .container .nav,
  #footer-phone .navbar .navbar-inner .container .nav {
    padding: 0;
  }
  /* line 38, ../../scss/ya/_responsive-1023px-max.scss */
  #footer .navbar .navbar-inner .container .nav li.element-40,
  #footer-phone .navbar .navbar-inner .container .nav li.element-40 {
    margin-left: 0;
  }

  /* line 51, ../../scss/ya/_responsive-1023px-max.scss */
  #content #navpath {
    width: 585px;
    padding-left: 0 !important;
  }
  /* line 58, ../../scss/ya/_responsive-1023px-max.scss */
  #content .span4c.secondColumnSub, #content .span4c.thirdColumnSub {
    width: 320px !important;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 8, ../../scss/ya/_responsive-768px-979px.scss */
  #header-teaser-top #teaser,
  #header-teaser-top ul#listticker {
    max-width: 30%;
    overflow: hidden;
    white-space: nowrap;
  }
}
@media (max-width: 767px) {
  /* line 13, ../../scss/ya/_responsive-767px-max.scss */
  body {
    font-size: 12px;
    line-height: 19px;
  }

  /* line 21, ../../scss/ya/_responsive-767px-max.scss */
  #footer .navbar .nav,
  #footer-phone .navbar .nav {
    margin-left: 0;
  }

  /* line 27, ../../scss/ya/_responsive-767px-max.scss */
  .container {
    width: auto;
    max-width: 320px;
  }

  /* line 36, ../../scss/ya/_responsive-767px-max.scss */
  #footer .navbar .navbar-inner .container,
  #footer-phone .navbar .navbar-inner .container {
    width: auto;
  }
}
@media (max-width: 979px) {
  /* line 8, ../../scss/_responsive-navbar.scss */
  body {
    padding-top: 0;
  }

  /* line 13, ../../scss/_responsive-navbar.scss */
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: static;
  }

  /* line 16, ../../scss/_responsive-navbar.scss */
  .navbar-fixed-top {
    margin-bottom: 18px;
  }

  /* line 19, ../../scss/_responsive-navbar.scss */
  .navbar-fixed-bottom {
    margin-top: 18px;
  }

  /* line 23, ../../scss/_responsive-navbar.scss */
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 5px;
  }

  /* line 26, ../../scss/_responsive-navbar.scss */
  .navbar .container {
    width: auto;
    padding: 0;
  }

  /* line 31, ../../scss/_responsive-navbar.scss */
  .navbar .brand {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 0 0 -5px;
  }

  /* line 40, ../../scss/_responsive-navbar.scss */
  .nav-collapse {
    clear: both;
  }

  /* line 44, ../../scss/_responsive-navbar.scss */
  .nav-collapse .nav {
    float: none;
    margin: 0 0 9px;
  }

  /* line 48, ../../scss/_responsive-navbar.scss */
  .nav-collapse .nav > li {
    float: none;
  }

  /* line 51, ../../scss/_responsive-navbar.scss */
  .nav-collapse .nav > li > a {
    margin-bottom: 2px;
  }

  /* line 54, ../../scss/_responsive-navbar.scss */
  .nav-collapse .nav > .divider-vertical {
    display: none;
  }

  /* line 57, ../../scss/_responsive-navbar.scss */
  .nav-collapse .nav .nav-header {
    color: #999999;
    text-shadow: none;
  }

  /* line 63, ../../scss/_responsive-navbar.scss */
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    padding: 6px 15px;
    font-weight: bold;
    color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  /* line 70, ../../scss/_responsive-navbar.scss */
  .nav-collapse .btn {
    padding: 4px 10px 4px;
    font-weight: normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  /* line 75, ../../scss/_responsive-navbar.scss */
  .nav-collapse .dropdown-menu li + li a {
    margin-bottom: 2px;
  }

  /* line 79, ../../scss/_responsive-navbar.scss */
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .dropdown-menu a:hover {
    background-color: #222222;
  }

  /* line 83, ../../scss/_responsive-navbar.scss */
  .nav-collapse.in .btn-group {
    margin-top: 5px;
    padding: 0;
  }

  /* line 88, ../../scss/_responsive-navbar.scss */
  .nav-collapse .dropdown-menu {
    position: static;
    top: auto;
    left: auto;
    float: none;
    display: block;
    max-width: none;
    margin: 0 15px;
    padding: 0;
    background-color: transparent;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  /* line 103, ../../scss/_responsive-navbar.scss */
  .nav-collapse .dropdown-menu:before,
  .nav-collapse .dropdown-menu:after {
    display: none;
  }

  /* line 106, ../../scss/_responsive-navbar.scss */
  .nav-collapse .dropdown-menu .divider {
    display: none;
  }

  /* line 111, ../../scss/_responsive-navbar.scss */
  .nav-collapse .navbar-form,
  .nav-collapse .navbar-search {
    float: none;
    padding: 9px 15px;
    margin: 9px 0;
    border-top: 1px solid #222222;
    border-bottom: 1px solid #222222;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  /* line 120, ../../scss/_responsive-navbar.scss */
  .navbar .nav-collapse .nav.pull-right {
    float: none;
    margin-left: 0;
  }

  /* line 126, ../../scss/_responsive-navbar.scss */
  .nav-collapse,
  .nav-collapse.collapse {
    overflow: hidden;
    height: 0;
  }

  /* line 131, ../../scss/_responsive-navbar.scss */
  .navbar .btn-navbar {
    display: block;
  }

  /* line 137, ../../scss/_responsive-navbar.scss */
  .navbar-static .navbar-inner {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 980px) {
  /* line 149, ../../scss/_responsive-navbar.scss */
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}
